{% set pageTitle = "The rules for COVID-19 testing in England have changed " %}

{% extends "layout_question.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                {{ pageTitle }}
            </h1>

            <p class="govuk-body">Most people in England can no longer get free tests.</p>

            <p class="govuk-body">However, you may still be able to get free tests, if for example:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    you're eligible for COVID-19 treatments 
                </li>
                <li>
                    you're being admitted into hospital 
                </li>
                <li>
                    you work in the NHS or in adult social care 
                </li>
                <li>
                    your GP or healthcare professional has recently asked you to get a test
                </li>
            </ul>


            <p class="govuk-body">
                <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/" class="govuk-link" target="_blank" rel="noopener noreferrer"> Find out who can get free tests (opens in new tab)</a>
            </p>

            {{ govukButton({
                text: "Continue",
                href: "test-reason-category",
                classes: "govuk-!-margin-top-4"
            }) }}
        </div>
    </div>
{% endblock %}