{% set pageTitle = "Why do you need a test?" %}

{% extends "layout_question.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/reason-category-answer" class="form" method="post">
                {{ govukRadios({
                    idPrefix: "test-reason-category",
                    name: "test-reason-category",
                    fieldset: {
                        legend: {
                            text: pageTitle,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                        }
                    }, 
                    items: [
                        {
                            value: "health",
                            text: "You've been asked to take a test by a doctor or healthcare professional, or you're eligible for COVID-19 treatments, or you're being admitted into hospital"
                        },
                        {
                            value: "work",
                            text: "You've been asked to take a test because you work for the NHS, or an NHS-commissioned independent healthcare provider, or in adult social care "
                        },
                        {
                            divider: "or"
                        },
                        {
                            value: "another",
                            text: "Another reason"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    classes: "govuk-!-margin-top-4"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}